@model List<ECommerceProject.EntityLayer.Concrete.Category>

@{
    ViewData["Title"] = "Kategoriler";
    ViewData["ActivePage"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <script>
        function toggleSubcategories(rowId) {
            const subcategories = document.getElementById(`subcategories-${rowId}`);
            if (subcategories) {
                subcategories.classList.toggle('hidden');
            }
        }
    </script>
</head>

<div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-semibold text-gray-700 mb-8">Mevcut Kategoriler</h1>

    <div class="bg-gray-50 p-8 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-700 mb-6">Kategoriler</h2>
        <ul class="space-y-4">
            @foreach (var category in Model.Where(c => c.ParentCategory == null))
            {
                @await Html.PartialAsync("_RecursiveCategoryList", new { Category = category, Depth = 0 })
            }
        </ul>
    </div>
</div>
