@model List<ECommerceProject.EntityLayer.Concrete.Category>

@{
    ViewData["Title"] = "Kategoriler";
    ViewData["ActivePage"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function toggleSubcategories(rowId) {
            const subcategories = document.getElementById(`subcategories-${rowId}`);
            if (subcategories) {
                subcategories.classList.toggle('hidden');
            }
        }

        function confirmDelete(categoryId) {
            Swal.fire({
                title: "Emin misiniz?",
                text: "Bu kategori, buna bağlı tüm alt kategoriler ve tüm bu kategorilere ait ürünler silinecek. Silmek istediğinize emin misiniz? Bu işlem geri alınamaz!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "İptal"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/Admin/Category/Delete?id=${categoryId}`;
                }
            });
        }
    </script>
</head>


<div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-semibold text-gray-700 mb-8">Mevcut Kategoriler</h1>

    <div class="bg-gray-50 p-8 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-700 mb-6">Kategoriler</h2>
        <ul class="space-y-4">
            @foreach (var category in Model.Where(c => c.ParentCategory == null))
            {
                @await Html.PartialAsync("_RecursiveCategoryList", new { Category = category, Depth = 0 })
            }
        </ul>
    </div>
</div>
