@model StaticPageViewModel
@{
    ViewData["Title"] = "Kvkk";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="max-w-4xl mx-auto py-16 px-4 text-gray-800">

    <h1 class="text-3xl font-bold border-b pb-2">@Model.StaticPageDto.Title</h1>

    <div class="ql-editor p-0">
        @Html.Raw(Model.StaticPageDto.Content)
    </div>


    <p class="mt-8 text-sm text-gray-500">
        Son Güncellenme Tarihi: @(Model.StaticPageDto.UpdatedDate?.ToString("dd/MM/yyyy") ?? "Belirtilmemiş")
    </p>




@* 
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 border-b pb-2">KVKK Aydınlatma Metni</h1>

    <p class="mb-4 text-gray-700">
        6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) uyarınca, kişisel verileriniz veri sorumlusu sıfatıyla firmamız tarafından aşağıda açıklanan kapsamda işlenebilecektir.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">1. Veri Sorumlusu</h2>
    <p class="mb-4 text-gray-700">
        Kişisel verileriniz, [Firma Adı] tarafından 6698 sayılı KVKK kapsamında veri sorumlusu sıfatıyla işlenebilecektir.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">2. Kişisel Verilerin İşlenme Amaçları</h2>
    <p class="mb-4 text-gray-700">
        Toplanan kişisel verileriniz, sunulan hizmetlerden faydalanabilmeniz, müşteri ilişkileri yönetimi, yasal yükümlülüklerin yerine getirilmesi gibi amaçlarla işlenmektedir.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">3. İşlenen Kişisel Veriler</h2>
    <p class="mb-4 text-gray-700">
        Kimlik bilgileri, iletişim bilgileri, işlem güvenliği verileri, müşteri işlem verileri, hukuki işlem bilgileri gibi veriler işlenebilmektedir.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">4. Kişisel Verilerin Aktarılması</h2>
    <p class="mb-4 text-gray-700">
        Kişisel verileriniz, kanunen yetkili kamu kurum ve kuruluşlarına, iş ortaklarımıza ve tedarikçilerimize KVKK'nın 8. ve 9. maddeleri uyarınca aktarılabilir.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">5. KVKK’nın 11. Maddesi Kapsamındaki Haklarınız</h2>
    <p class="mb-4 text-gray-700">
        KVKK’nın 11. maddesi uyarınca, kişisel verilerinizin işlenip işlenmediğini öğrenme, verilerinizin silinmesini talep etme gibi çeşitli haklara sahipsiniz.
    </p>

    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-2">6. Başvuru Yöntemi</h2>
    <p class="mb-4 text-gray-700">
        Haklarınızı kullanmak için bize yazılı olarak veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle başvurabilirsiniz.
    </p>

    <p class="mt-8 text-gray-600 text-sm">
        [Firma Adı] tarafından hazırlanmıştır. Bu metin, ilgili mevzuatlar doğrultusunda güncellenebilir.
    </p>
 *@
</div>

